#id1{
    font-family: 'Courier New', Courier, monospace;
}
#id2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#id3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#id4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
 #id5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
